<div class="game">
  <div class="game-details">
    <div class="game-banner">
      <img
        src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg"
        alt=""
        class="background-image"
      >
    </div>
    <div class="game-content">
      <div class="game-detail">
        <div class="game-detail__genres">
          <span class="genre">action</span>
          <span class="genre">adventure</span>
        </div>
        <h1 class="game-detail__title">The Last of us all</h1>
        <div class="game-detail__information">
          <span class="rating">8.0</span>
          <span class="year">2011</span>
        </div>
        <p class="game-detail__description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae velit incidunt sed magnam vero nemo alias dolorum omnis eos voluptatibus nesciunt, repellendus nihil quae reiciendis, dolorem quibusdam recusandae ab beatae? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, velit, omnis vero magnam odit molestiae rerum doloribus culpa voluptates repudiandae pariatur ipsum ullam temporibus! Facilis soluta asperiores perferendis voluptate adipisci.</p>
        <div class="game-detail__platforms">
          <span>PS4</span>
          <span>XBOX</span>
        </div>
      </div>
      <div class="play-game">
        <a href="" class="play-game__link"> <mat-icon class="play-game__icon">play_arrow</mat-icon></a>
        <p>Play Now</p>
      </div>
    </div>
    <div class="scene-screenshots">
      <p>Scene</p>
      <div class="screenshots">
        <img src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" alt="" class="screenshot">
        <img src="../../../assets/jose-g-ortega-castro-ukn041eJjzY-unsplash.jpg" alt="" class="screenshot">
        <img src="../../../assets/wtfast-t6UXFP0lSVs-unsplash.jpg" alt="" class="screenshot">
      </div>
    </div>
  </div>
  <div class="game-trailers">
    <p>Trailers</p>
    <div class="trailers">
      <img src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" alt="" class="trailer">
      <img src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" alt="" class="trailer">
      <img src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" alt="" class="trailer">
      <img src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" alt="" class="trailer">
      <img src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" alt="" class="trailer">
    </div>
  </div>
</div>

<p class="games-suggested__header">People also played</p>
<div class="games-suggested">
  <div class="suggested">
    <img src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" alt="" class="suggest">
    <img src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" alt="" class="suggest">
    <img src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" alt="" class="suggest">
    <img src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" alt="" class="suggest">
  </div>
</div>
<!-- <div class="game-guage">
  <mwl-gauge
  class="two" [max]="100" [dialStartAngle]="180"
  [dialEndAngle]="0" [value]="gameRating" [animated]="true"
  [color]="getColor" [animationDuration]="2"
  >
  </mwl-gauge>
  <a class="game-gauge__label" target="__blank" href="#"> Metacritic </a>
</div> -->

