<div class="container">
  <div class="left-container">
    <app-game-genre> </app-game-genre>
    <app-game-genre> </app-game-genre>
    <app-game-genre> </app-game-genre>
  </div>

  <div class="right-container">
    <p class="search-heading">Showing search result for:</p>
    <h2 class="search-word">"PUBG"</h2>

    <div class="filters">
        <label for="sort-games"> Sort </label>
          <select name="sort" [(ngModel)]="sort" (change)="searchGames(sort)">
            <option value="name">Name</option>
            <option value="-released">Released</option>
            <option value="-added">Added</option>
            <option value="-created">Created</option>
            <option value="-updated">Updated</option>
            <option value="-rating">Rating</option>
            <option value="metacritic">Metacritic</option>
          </select>
    </div>

    <div class="games">
      <!-- <ng-container *ngFor="let game of games"> -->
        <div class="game">
          <div class="game-thumb__container">
            <img
              src="../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg"
              alt=""
              class="game-thumbnail"
            />
            <!-- <p *ngIf="!game.background_image" class="game-thumbnail">No image</p> -->
            <div class="game-description">
              <!-- <div class="game-genres"> <p *ngFor="let genre of game.genres">{{genre.name}}</p></div> -->
              <div class="game-genres"><p>Adventure</p><p>Racing</p></div>
              <p class="game-name">The last of us all</p>
              <div class="game-platforms">
                <img
                  src="../../../assets/images/platforms/xbox.svg"
                  class="game-platform"
                  alt=""
                />
                <img
                src="../../../assets/images/platforms/xbox.svg"
                class="game-platform"
                alt=""
                />
              </div>
              <div class="explore-link"> <a class="">Explore</a> <mat-icon class="play_icon">play_arrow</mat-icon></div>
            </div>
          </div>
        </div>
      <!-- </ng-container> -->
    </div>
  </div>
</div>
