.container {
  display: flex;
}

.left-container {
  width: 38%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  border-right: solid 2px var(--clr-lgtblk3);
}

app-game-genre {
  width: 48%;
}

.right-container {
  width: 59%;
  padding: 15px;
}

.games {
  width: 100%;
}

.game {
  background-color: var(--clr-drkblk2);
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.game-thumb__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.game-thumbnail {
  border-radius: 8px 0 0 8px;
  width: 50%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.game-description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-genres {
  flex-wrap: wrap;
  display: flex;
  gap: .3rem;
  text-transform: uppercase;
}

.game-genres p {
  font-size: .7rem;
  font-weight: 700;
  padding-right: .5rem;
  color: var(--clr-lgtwht2);
}

.game-name {
  font-family: var(--ff-tertiary);
  font-size: max(1.2rem, 4vh);
  letter-spacing: .5px;
  line-height: .9;
  font-weight: 700;
  margin: .8rem 0;
  font-weight: 700;
}

.game-platforms {
  margin-left: .5rem;
  display: flex;
  flex-wrap: wrap;
}

.game-platforms img {
  background: var(--clr-drkblk2);
  margin-left: -.6rem;
  width: 30px;
  aspect-ratio: 1;
  padding: 3px;
  border: 1px solid var(--clr-lgtwht2);
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
