.header {
  width: 100%;
  padding: 10px 20px;
  background: var(--grey-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 0px 5px 0px rgb(83, 83, 83);
  position: sticky;
  top: 0;
  left: 0;
}

.link-list {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.link:hover, .link:focus,
.link:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.link:hover, .link:focus,
.link:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.link p {
  font-size: 1rem;
}

.browse p {
  margin-left: 5px;
}

.icon {
  color: white;
}

.logo {
  font-weight: 900;
  font-size: 20px;
  background: linear-gradient(to right, #FFE031, #f04579);
  background-clip: text;
  color: transparent;
}

app-search-bar {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
