<div class="header">
  <a class="logo link" routerLink="/">Texler</a>
  <app-search-bar></app-search-bar>
  <ul class="link-list">
    <li><a href="#" class="browse link" routerLink="/" ><mat-icon class="icon">explore</mat-icon><p>Browse</p></a></li>
    <li><a href="#" class="chat link" routerLink="/" > <mat-icon class="icon">chat</mat-icon> </a></li>
    <!-- <li><a href="#" class="notif link" routerLink="/" > <mat-icon class="icon">notifications_active</mat-icon> </a></li> -->
  </ul>
</div>
