<div class="container">
  <div class="game">
    <img src="../../../../assets/taylor-r-BVi74hFpZfc-unsplash.jpg" class="game-thumbnail" alt="" width="50px">
    <p class="game-name">Game Name to this game will be mad</p>
    <div class="game-platforms">
      <img
      src="../../../assets/images/platforms/xbox.svg"
      class="game-platform"
      alt=""
      />
      <img
      src="../../../assets/images/platforms/xbox.svg"
      class="game-platform"
      alt=""
      />
    </div>
  </div>
</div>
